
img{
  width:  45%; 
  height:  auto; 
  min-height:  100%; 
  position:  relative; 
  background-size:  cover;
  border-top-left-radius:  4px; 
  border-bottom-left-radius:  4px; 
}

.FormCenter {
  width: 30%;
  float: right;
  margin: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
}

label {
  font-size:  12.5px; 
  color:  #000;
  opacity:  .8;
  font-weight:  400; 
}

.FormField {
  position:  relative; 
  margin-bottom:  10px;
  width:  100%; 
} 

.FormField label {
  position:  absolute; 
  top: calc(50% - 7px);
  left:  0; 
  opacity:  0; 
  transition:  all .3s ease; 
  padding-left:  44px; 
}

.FormField input {
  width:  calc(100% - 44px); 
  margin-left:  auto;
  display:  flex; 
}